
.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: #FF1538;
  text-align: center;
  background-color: #21BACC;
  background: url('../img/sand.jpg');

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit a, a:hover, a:focus{
    color: #FF1538;
    text-decoration: none;
}



body {
  margin: 0;
  font-family: "Comic Sans" "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #FF6F19;
  background: url('../img/tweed.png');
}

a {
  color: #FFFFFF;
}